<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shiwoo Kim">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
    

<body onload="addYear()">
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    
        <nav>
            <a href="../index.html">Home</a>
            <a id="navselected" href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <img id="museumpicture" src="../static/museum.png" alt="Image of Museum">
        <h2>Mission Statement</h2>
            <p>MonoMuse is trying to weave technology and art. The museum serves
            people who find innovation interesting.
            </p>
        <h3> Milestones</h3>
            <ul> 
                <li> 2023: MonoMuse is founded by Albert Simpson</li>
                <li> 2025: MonoMuse partners with Meta</li>
                <li> 2026: MonoMuse becomes the most popular museum</li>
            </ul>

    </div>
    <footer>
        <p> <span id="copyYear"></span>© MonoMuse Museum</p>
    </footer>
    
</body>
</html>
