<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shiwoo Kim">
    <title>Experience | MonoMuse Museum</title>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body onload="addYear();">

    <div class="container"> <header class="header"> <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        </header>

        <nav class="nav_bar" id="myTopnav"> 
            <a href="../index.html">Home</a>
            <a id="navselected" href="experience.html">Experience</a>
            <a href="buytickets.html"> Buy Tickets</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
        </nav>

        <main class="main"> <h2>Our Mission</h2>
            <p>MonoMuse is trying to weave technology and art. The museum serves
            people who find innovation interesting.</p>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/HYcbHpMZQ_Q?si=KnM9unF7x0J1mdb4" 
            title="The Future of Museums" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
    </iframe>
</div>


            <h3>Milestones</h3>
            <ul> 
                <li>2023: MonoMuse is founded by Albert Simpson</li>
                <li>2025: MonoMuse partners with Meta</li>
                <li>2026: MonoMuse becomes the most popular museum</li>
            </ul>

            <hr> <h2>Current Exhibitions</h2>
            
            <section>
                <h3>Exhibition 1: Interactive Art</h3>
                <p>As you walk through the room, the art moves with you. 
                   It is a surreal experience everyone needs to try!</p>
            </section>

            <section>
                <h3>Exhibition 2: Slow Art</h3>
                <p>As soon as you walk into the room, the whole atmosphere changes.
                   It feels as you are in slow-motion admiring amazing unique art!</p>
            </section>
        </main>

        <figure class="main_img"> <img id="museumpicture" src="../static/museum.png" alt="MonoMuse Interior">
        </figure>

        <footer class="footer"> <p><span id="copyYear"></span> © MonoMuse Museum</p>
        </footer>

    </div> <script src="../static/script.js" defer></script>
</body>
</html>